@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

#header {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	margin-bottom: 10px;
}

body {
	background-color: #C8FDB5;
	text-align: center;
}

img {
	width: 150px;
}

.margin {
	margin-bottom: 20px;
	width: 200px;
}

textarea {
	height: 100px;
}

h3 {
	padding-bottom: 30px;
	border-bottom: dotted;

}

#btn {
	width: 100px;
	background-color: #1FC7E2;
	border: 2px solid black;
	font-size: 20px;
	color: white;
}

#btn:hover {
	cursor: pointer;
}