@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

html * {
	font-family: 'Indie Flower', cursive;
}

.ninja {
	position: fixed;
	left:100px;
	top:100px;
	z-index: -1;
	width: 200px;
}

.ninja1 {
	position: fixed;
	right: 100px;
	top: 100px;
	z-index: -1;
	width: 200px;
}
#header {
	font-size: 100px;
	margin-bottom: 10px;
}

body {
	background-color: #C8FDB5;
	text-align: center;
}

img {
	width: 150px;
}

input {
	height: 20px;
}

.boxes {
	margin-bottom: 20px;
	width: 250px;
	font-size: 15px;
}

textarea {
	height: 100px;
}

h3 {
	padding-bottom: 30px;
	border-bottom: dotted;

}

#btn {
	width: 100px;
	background-color: #1FC7E2;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 20px;
	color: white;
	font-size: 25px;
}

#btn:hover {
	cursor: pointer;
	background-color: #A4DAE8;
	transition: .3s;
}